[server]
host = "${SERVER_HOST}"
port = ${SERVER_PORT}

[scheduler]
interval = ${SCHEDULER_INTERVAL}
agentContactDelay = ${SCHEDULER_AGENT_CONTACT_DELAY}

[auth]
type = "${AUTH_TYPE}"
key = "${AUTH_KEY}"

[etcd]
address = "${ETCD_ADDRESS}"
